/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: -256px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:256px;
  background:#A9A9A9;
  border-color: #9A9A9;
  font-family:Microsoft YaHei
  
}

.container-lg{
	margin-top:50px;
}
.container-lg a{
	text-decoration:none;
	color:#333;
}
.container-lg img{
	width: 86px;
	height: 86px;
}
.container-lg > ul{
	list-style-type:none;
	text-align:left;
	margin-left:0px;
}
.container-lg > ul > li{
	display:list-item;
	float:left; 
	margin-right:75px;
	
}
.container-lg > ul > li > ul{
	padding-left:0px;
	list-style:none; 
}
.container-lg > ul > li > ul > li{
	margin-top:10px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


footer{
	margin-top:20px;
}

