/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer_back {
  position: absolute;
  bottom: -256px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:256px;
  background:#5D5D5D;
  border-color: #5D5D5D;
  font-family:Microsoft YaHei
  filter:alpha(opacity=40); /*IE滤镜，透明度50%*/
  -moz-opacity:0.4; /*Firefox私有，透明度50%*/
  opacity:0.4;/*其他，透明度50%*/
  z-index:-1;
}
.footer {
  position: absolute;
  bottom: -256px!important;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:256px;
  font-family:Microsoft YaHei;
  z-index:1;
}
.footer h4{
	font-weight:400!important;
	font-size:18px;
}
.footer a{
	font-size:14px;
}

.container-lg{
	margin-top:50px;
}
.container-lg a{
	text-decoration:none;
	color:#333;
}
.container-lg img{
	width: 86px;
	height: 86px;
}
.container-lg > ul{
	list-style-type:none;
	text-align:left;
	margin:0px 0px 10px 0px!important;
	padding-left:50px;
}
.container-lg > ul > li{
	display:list-item;
	float:left; 
	margin-right:75px;
	
}
.container-lg > ul > li > ul{
	padding-left:0px;
	list-style:none; 
	margin:0!important;
}
.container-lg > ul > li > ul > li{
	margin-top:10px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


footer{
	margin-top:20px;
}


