.recommend{
	border:none;
	-webkit-box-shadow:none;
	
}
.grid > a >img{
	height:149px;
	width:252px!important;
	float:left;
	margin-right:10px;
	
}

.grid{
	height:350px;
	width:260px;
	float:left;
	margin-right:10px;
	
}
.title > a{
	font-weight:400!important;
	padding-top:15px!important;
	line-height:28px;
	color:#333
}
.title > p{
	font-weight:400!important;
	line-height:1;
	color:#a0a0a0;
	font-size:12px;
}
.grid > .caption > h4{
	font-weight:400!important;
	line-height:28px;
	color:#333
}
.grid > a > img{
	height:149px;
	width:252px!important;
}
.list > a >img{
	height:149px;
	width:252px;
}
.list >div > div > div{
	width:918px;
}
.list > .row{
	margin:0;
	background-color:#fff;
}
.media > .media-body{
	padding:9px;
}